@charset "UTF-8";
/* base color */
$headBgColor: #fff;
$pullDownMore: #2b7ec2;
$subHeaderBgColor: #1385e5;
$closeBtn: #7dcff4;

/* base fontSize */
$fontSize1: 1rem;
$fontSize1_6: 1.6rem;

/* base value */
$value0_1: 0.1rem;
$value0_5: 0.5rem;
$value0_6: 0.6rem;
$value0_75: 0.75rem;
$value0_85: 0.85rem;
$value1_8: 1.8rem;
$value3: 3rem;
$value3_5: 3.5rem;